<h1>無限スクロール</h1>

<table id="posts">
  <thead>
  <tr>
    <th>タイトル</th>
  </tr>
  </thead>

  <tbody class="page">
  <%= render partial: 'infinites/post', collection: @posts %>
  </tbody>
</table>

<div class="page-load-status">
  <p class="infinite-scroll-request">
    <i class="fa fa-spinner fa-spin"></i> Loading...
  </p>
  <p class="infinite-scroll-last">End of content</p>
  <p class="infinite-scroll-error">No more pages to load</p>
</div>

<%= paginate @posts %>